In [ ]:
# comment short cut key #    ctul+/  .... to comment and un comment

In [ ]:
#  select all and ctul+/
# print('shiva')
# print('jani')
# print('sai')

In [2]:
# write a program to users input

name = input('enter your name ')  # input to 
print("my name is" , name)  # printing the out put

enter your name shiva prasad
my name is shiva prasad

In [10]:
s=('shiva prasad")  # hear  i give single and double quotes in input 
print(s)

SyntaxError: EOL while scanning string literal (4222703263.py, line 1)

In [11]:
s=("shiva prasad")
print(s)

shiva prasad

In [5]:
name = input("enter your name ") 
age =int(input("enter your age "))

print("my name is ",name)
print("my age is " , age)

enter your name prasad
enter your age 30
my name is  prasad
my age is  30

In [7]:
name = input("enter your name ") 
age =int(input("enter your age "))
marks =float(input("enter your marks "))

print("my name is ", name)
print('my age is ',age )
print(" marks are ", marks)

enter your name shiva
enter your age 30
enter your marks 45.5
my name is  shiva
my age is  30
 marks are  45.5