In [12]:
list = ["apple",'bananna',"carrort"]

for i in list:
    print(i + "is fruit")

appleis fruit
banannais fruit
carrortis fruit

In [11]:
list=["apple"]

for x in list:
    print(i+ "is a fruits")

carrortis a fruits

In [13]:
 name = " shiva prasad goud"

for i in name:
    print(i)

s
h
i
v
a

p
r
a
s
a
d

g
o
u
d

In [15]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range (1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
a=int(input("enter the value:"))

for i in a:
    sum%2==0